<div class="program-progress--container">
  <img width="100%" src="assets/images/uxresearch.png" alt="" />
  <img src="assets/images/bookmark-check.svg" alt="" />
  <mat-card class="program-progress--card">
    <div class="program-progress--card-content-header">
      <div>
        <div>UX Research - Week 3</div>
        <div>Certificate UX/UI Design</div>
      </div>
      <div>
        <div>08</div>
        <div>APRIL</div>
      </div>
    </div>
    <div class="program-progress--card-content-content">
      <div>
        <img src="assets/icons/time.png" alt="" />
        In Progress
      </div>
      <div>Join Now</div>
    </div>
  </mat-card>
</div>
