:host {
  --text-color: #c0beff;
}

.sidenav-container {
  height: 100%;
  color: white;
}

.sidenav {
  width: 240px;
  background: #333269;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-toolbar {
  background-color: white;
}

.nav--logo {
  margin: 0 1rem;
}

.nav-list .mat-list-item {
  // font-family: SF Pro Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--text-color);
}

.material-icons-outlined {
  color: grey;
}

.sidenav img:last-child {
  margin-left: 2rem;
  margin-top: 1rem;
}

.sidenav div button {
  float: right;
  margin-top: 0.5rem;
}

.sidenav div button mat-icon {
  color: grey;
  font-size: 20px;
}

.nav-list .mat-list-item span {
  margin-left: 1rem;
}

.nav-list .mat-list-item:first-child {
  color: white;
  font-size: 18px;
}

.nav-list .mat-list-item .mat-list-item-content {
  justify-content: center !important;
}

/* Toolbar CSS */

.toolbar-container {
  display: flex;
  align-items: center;
}

.toolbar-container--input input {
  padding: 1rem;
  border: none;
  width: 50vw;
  font-size: 16px;
  color: #8695a0;
}

.toolbar-container--input {
  display: flex;
  align-items: center;
}

.toolbar-container--input input:focus {
  outline: none;
  border: none;
}

.line {
  height: 40px;
  border: 1px solid #07102f;
  opacity: 0.2;
}

.toolbar-container--right-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toolbar-container--right-content-icons {
  margin: 1rem 1.5rem 0px 2rem;
}

.toolbar-container--right-content-avatar {
  font-size: 14px;
  margin-top: 0.2rem;
}

.toolbar-container--right-content-avatar {
  font-size: 12px;
  line-height: 1.5;
  margin-left: 0.5rem;
}
