<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <div>
      <button mat-icon-button>
        <mat-icon class="mat-18">arrow_back_ios </mat-icon>
      </button>
    </div>

    <img class="nav--logo" src="assets/logo.svg" alt="" />

    <mat-nav-list class="nav-list">
      <a *ngFor="let nav of navList" mat-list-item href="#">
        <img [src]="nav.iconUrl" />
        <span>{{ nav.title }}</span>
      </a>
    </mat-nav-list>
    <img src="assets/advertising_banner.svg" alt="" />
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>student-dashboard</span>
    </mat-toolbar>
    <app-dashboard></app-dashboard>
  </mat-sidenav-content>
</mat-sidenav-container>
