/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: "SFProDisplay";
  src: url("assets/fonts/SFProDisplay-Regular.ttf");
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  // font-family: "SFProDisplay";
}

:host {
  --primary-color: #333269;
}
